<nav class="level" role="navigation" aria-label="main navigation">
  <div class="level-item">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="~/media/logo.png" width="150px">
      </a>
    </div>
  </div>
</nav>

<style>
  .navbar-item img {
      max-height: 3rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
  }
</style>