@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

@section Navbar {
    <partial name="_EmptyNavbar"/>
}

<div class="columns is-centered is-vcentered" style="min-height: 60vh;">
    <div class="column has-text-centered">
        <img src="~/media/sammy-done.png" style="max-width: 400px"/>
        <h1 style="font-weight: 700">Your registration is complete.</h1>
        <p>Welcome to SITConnect! You now have access to the entire site.</p>
        <a class="button is-link mt-2" href="/Identity/Account/Login">Click here to login!</a>
    </div>
</div>