@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

@section Navbar {
    <partial name="_EmptyNavbar"/>
}


<div class="columns is-centered is-vcentered" style="min-height: 60vh;">
    <div class="column has-text-centered is-one-third">
        <img src="~/media/sammy-envelope.png" style="max-width: 300px"/>
        <h1 style="font-weight: 700">Password recovery success!</h1>
        <p>If you have an account with us, a password reset link would be sent to your email.</p>
    </div>
</div>