@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

@section Navbar {
    <partial name="_EmptyNavbar"/>
}

<div class="columns is-centered is-vcentered" style="min-height: 60vh">
    <section class="column is-one-third is-two-thirds-tablet">
        <h4 class="is-size-4 mb-0">Password Recovery</h4>
        <small class="form-subtitle mt-0">Enter your email to reset your password.</small>
        <hr>
        <form method="post" id="reCaptcha-form">
            <div asp-validation-summary="ModelOnly" class="notification py-0 is-vcentered is-danger is-light my-3"></div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input asp-for="Input.Email" class="input" id="email" type="email" placeholder="bobby@bobbying.com" value="">
                    <span asp-validation-for="Input.Email" class="validation-error"></span>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            
            <input type="hidden" id="reCaptchaToken" asp-for="Input.Token"/>
            <button type="button" class="button is-link is-fullwidth mt-4" id="login">Submit</button>

            @* <button type="submit" class="btn btn-primary">Submit</button> *@
        </form>
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="https://www.google.com/recaptcha/api.js?render=@(Model.reCaptchaKey)"></script>
    <script>
        $("#login").click(() => {
            grecaptcha.execute('@(Model.reCaptchaKey)', { action: 'submit' }).then(function (token) {
                console.log(token);
                $("#reCaptchaToken").val(token)
                $("#reCaptcha-form").submit()
            });
        })
    </script>
}

<style>
    ul li{
        list-style-type: none;
        margin-left: 0;
        font-size: 0.9rem;
    }
    
    
    .content ul {
        margin-left: 0;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }


    .is-field-content {
        font-size: 0.90rem;
        line-height: 1.25;
    }
    
    
    .validation-error {
        color: hsl(348, 100%, 61%);
        font-size: 0.8rem;
    }
    
    .input-validation-error {
        border-color: #f14668;
    }
</style>