@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Password Reset";
}


@section Navbar {
    <partial name="_EmptyNavbar"/>
}

<div class="columns is-centered is-vcentered top-spacing mx-2" style="height: 60vh">
    <section class="column is-one-third is-two-thirds-tablet">
        <h4 class="is-size-4 mb-0">Password Reset</h4>
        <small class="form-subtitle mt-0">Enter your credentials and new password.</small>

        <hr>
        <form method="post" id="reset-password-form">
            
            <div asp-validation-summary="ModelOnly" class="notification py-0 is-vcentered is-danger is-light my-3"></div>

            <input asp-for="Input.Code" type="hidden"/>
            
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input asp-for="Input.Email" class="input" id="email" type="email" placeholder="bobby@bobbying.com" value="">
                    <span asp-validation-for="Input.Email" class="validation-error"></span>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input asp-for="Input.Password" class="input password-input" id="password-input" type="password" placeholder="Password"/>
                    <progress class="progress" id="password-strength" value="0" max="100" style="width: 100%; height: 0.5rem; margin-top: 12px; margin-bottom: 5px"></progress>
                    <span id="password-helper" class="validation-error"></span>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                    <span class="icon is-small is-right password-eye">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input asp-for="Input.ConfirmPassword" class="input password-input" type="password" placeholder="Confirm Password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="validation-error"></span>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                    <span class="icon is-small is-right password-eye">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
            </div>

            <button type="button" id="reset-password" class="button is-link is-fullwidth mt-4">Submit</button>
            @* <button type="submit" class="btn btn-primary">Reset</button> *@
            
            <input type="hidden" id="reCaptchaToken" asp-for="Input.Token"/>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="https://www.google.com/recaptcha/api.js?render=@(Model.reCaptchaKey)"></script>

    <script>
        $("#reset-password").click(() => {
            if (checkPassword()){
                grecaptcha.execute('@(Model.reCaptchaKey)', { action: 'submit' }).then(function (token) {
                    console.log(token);
                    $("#reCaptchaToken").val(token)
                    $("#reset-password-form").submit()
                });
            }
        })
        
        function checkPassword(){
            console.log("Checking password")
            let passwordStrength = 100 
            let value = $("#password-input").val()
            let errorMessage = ""
            
            if (value.length < 12){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must be at least 12 characters long.</span><br/>"
            }
            if (value.search(/[0-9]/) === -1){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must have at least 1 number.</span><br/>"
            }
            if (value.search(/[A-Z]/) === -1){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must have at least 1 uppercase letter.</span><br/>"
            }
            if ( value.search(/[a-z]/) === -1){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must have at least 1 lowercase letter.</span><br/>"
            }
            if ( value.search(/[!@('@')#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/) === -1){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must have at least 1 special character.</span><br/>"
            }
            
            if (errorMessage !== ""){
               $("#password-helper").html(errorMessage)
            }else {
               $("#password-helper").html("")
            }
            $("#password-strength").attr("value", passwordStrength)
            $("#password-strength").attr("class", "progress")
            if (passwordStrength === 100){
                $("#password-strength").addClass("is-success")
            }
            else if (passwordStrength >= 60){
                $("#password-strength").addClass("is-warning")
            }
            else {
                $("#password-strength").addClass("is-danger")
            }
            
            return passwordStrength === 100;
        }
        
        $("#password-input").on("input", () => {
            checkPassword()
        })
    </script>
}