@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Reset Confirmation";
}

@section Navbar {
    <partial name="_EmptyNavbar"/>
}

<div class="columns is-centered is-vcentered" style="min-height: 60vh;">
    <div class="column has-text-centered">
        <img src="~/media/sammy-done.png" style="max-width: 400px"/>
        <h1 style="font-weight: 700">Password reset is complete.</h1>
        <p>
            If your credentials are correct, your password have been reset.
            <br>
            If you still cannot log in, please go through the password recovery again.
        </p>
        <a class="button is-link mt-2" href="/Identity/Account/Login">Click here to login!</a>
    </div>
</div>