@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

@section Navbar
{
    <partial name="_Navbar"/>
}

@if (Model.PasswordChangeble)
{
    <div class="columns mt-5 mx-2">
        <div class="column is-one-fifth">
            <partial name="_ManageNav"/>
        </div>
        <div class="column is-4">
            <h4 class="is-size-4 mb-2">Change Password</h4>
            <small class="form-subtitle mt-0">Update the existing password for your account.</small>
            <hr>
            <form id="change-password-form" method="post">
                <partial name="_StatusMessage" for="StatusMessage"/>
                <div asp-validation-summary="ModelOnly" class="notification py-0 is-vcentered is-danger is-light my-3"></div>
                <div class="field">
                    <label class="label">Current Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input asp-for="Input.OldPassword" class="input password-input" id="" type="password">
                        <span asp-validation-for="Input.OldPassword" class="validation-error"></span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                        <span class="icon is-small is-right password-eye">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">New Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input asp-for="Input.NewPassword" id="password-input" class="input password-input" type="password">
                        <progress class="progress" id="password-strength" value="0" max="100" style="width: 100%; height: 0.5rem; margin-top: 12px; margin-bottom: 5px"></progress>
                        <span id="password-helper" class="validation-error"></span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                        <span class="icon is-small is-right password-eye">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Confirm New Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input asp-for="Input.ConfirmPassword" class="input password-input" type="password">
                        <span asp-validation-for="Input.ConfirmPassword" class="validation-error"></span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                        <span class="icon is-small is-right password-eye">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>

                <input type="hidden" id="reCaptchaToken" asp-for="Input.Token"/>

                <button type="button" class="button is-link" id="change-password-btn">Submit</button>
            </form>

        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="https://www.google.com/recaptcha/api.js?render=@(Model.reCaptchaKey)"></script>

    <script>
        function checkPassword(){
            console.log("Checking password")
            let passwordStrength = 100 
            let value = $("#password-input").val()
            let errorMessage = ""
            
            if (value.length < 12){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must be at least 12 characters long.</span><br/>"
            }
            if (value.search(/[0-9]/) === -1){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must have at least 1 number.</span><br/>"
            }
            if (value.search(/[A-Z]/) === -1){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must have at least 1 uppercase letter.</span><br/>"
            }
            if ( value.search(/[a-z]/) === -1){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must have at least 1 lowercase letter.</span><br/>"
            }
            if ( value.search(/[!@('@')#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/) === -1){
               passwordStrength -= 20 
               errorMessage += "<span id='password-input-error' class='field-validation-error'>Password must have at least 1 special character.</span><br/>"
            }
            
            if (errorMessage !== ""){
               $("#password-helper").html(errorMessage)
            }else {
               $("#password-helper").html("")
            }
            $("#password-strength").attr("value", passwordStrength)
            $("#password-strength").attr("class", "progress")
            if (passwordStrength === 100){
                $("#password-strength").addClass("is-success")
            }
            else if (passwordStrength >= 60){
                $("#password-strength").addClass("is-warning")
            }
            else {
                $("#password-strength").addClass("is-danger")
            }
            
            return passwordStrength === 100;
        }
        
        $("#password-input").on("input", () => {
            checkPassword()
        })
        
        $("#change-password-btn").click(() => {
            checkPassword()
            if($("#change-password-form").valid() && checkPassword()){
                grecaptcha.execute('@(Model.reCaptchaKey)', { action: 'submit' }).then(function (token) {
                    console.log(token);
                    $("#reCaptchaToken").val(token)
                    $("#change-password-form").submit()
                });
            }
        })
        
        $("#change-password").addClass("is-active")
    </script>
}
}
else
{
    <div class="columns mt-5 mx-2">
        <div class="column is-one-fifth">
            <partial name="_ManageNav"/>
        </div>
        <div class="column is-4">
            <h4 class="is-size-4 mb-2">Change Password</h4>
            <small class="form-subtitle mt-0">Update the existing password for your account.</small>
            <hr>
            <form id="change-password-form" method="post">
                <partial name="_StatusMessage" for="StatusMessage"/>
                <div asp-validation-summary="ModelOnly" class="notification py-0 is-vcentered is-danger is-light my-3"></div>
                <div class="field">
                    <label class="label">Current Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input disabled="" class="input" id="" type="text">
                        <span asp-validation-for="Input.OldPassword" class="validation-error"></span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>

                        <span class="icon is-small is-right">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">New Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input disabled="" id="password-input" class="input password-input" type="text">
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>

                        <span class="icon is-small is-right">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Confirm New Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input disabled class="input password-input" type="text">
                        <span asp-validation-for="Input.ConfirmPassword" class="validation-error"></span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>

                        <span class="icon is-small is-right">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>

            </form>

        </div>
    </div>
@section Scripts
{
    <script>
            $("#change-password").addClass("is-active")
        </script>
}
}